<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Collegetime</title>
	<link rel="icon" href="/default/images/favicon.png" type="image/png">

<!-- for css in the html -->
<%- include ('../partials/default/header-css')%>

</head>

<body class="bg-shape">

<!-- Navigation -->

<%- include ('../partials/default/top-navigation')%>


<!--================Hero Banner Area Start =================-->
<section class="hero-banner magic-ball">
  <div class="container">

    <div class="row align-items-center text-center text-md-left">
      <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
        <h1>Welcome to collegetime</h1>
        <p>what is collegetime and our vision </p>

      </div>
      <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
        <img class="img-fluid" src="/default/images/Untitled-03.png" alt="">
      </div>
    </div>
  </div>
</section>
<!--================Hero Banner Area End =================-->

<!--================About Area Start =================-->
<section class="bg-gray section-padding magic-ball magic-ball-about">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6 mb-4 mb-md-0">
        <div class="about-img">
          <img class="img-fluid" src="/default/images/Untitled-05.png" alt="">
        </div>
      </div>
      <div class="col-lg-5 col-md-6 align-self-center about-content">
        <h2>Exploration is <br class="d-none d-xl-block"> really the essence <br class="d-none d-xl-block"> of the human spirit</h2>
        <p>about howto scetion</p>
        <a class="button" href="/blogs">Learn More</a>
      </div>
    </div>
  </div>
</section>
<!--================About Area End =================-->


<!--================Service Area Start =================-->
<section class="section-margin generic-margin">
  <div class="container">
    <div class="section-intro text-center pb-90px">
      <img class="section-intro-img" src="/default/img/home/section-icon.png" alt="">
      <h2>what's in our page</h2>
      <p>what we wanna provide you with</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="service-card text-center">
          <div class="service-card-img">
            <img class="img-fluid" src="/default/img/home/service1.png" alt="">
          </div>
          <div class="service-card-body">
            <h3>categories</h3>
            <p>about categories and what you should expect from this section</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="service-card text-center">
          <div class="service-card-img">
            <img class="img-fluid" src="/default/img/home/service2.png" alt="">
          </div>
          <div class="service-card-body">
            <h3>how to</h3>
            <p>what is this section</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="service-card text-center">
          <div class="service-card-img">
            <img class="img-fluid" src="/default/img/home/service3.png" alt="">
          </div>
          <div class="service-card-body">
            <h3>content influencers</h3>
            <p>about above</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Service Area End =================-->


<!--================Blog section Start =================-->
<section class="section-padding bg-gray">
  <div class="container">
    <div class="section-intro text-center pb-90px">
      <img class="section-intro-img" src="/default/img/home/section-icon.png" alt="">
      <h2>From our Blog</h2>
      <p>Fowl have fruit moveth male they are that place you will lesser</p>
    </div>

            <div class="row">
              <% for (var i = 0; i < 3; i++) {%>
                <div class="blog col-md-4">
                        <article class="card" style="width: 20rem;height:460px;">
                          <div class="card-img-top">
                            <img class="card-img rounded-0" src="<%=posts[i].file%>" height=200px alt="<%=posts[i].file%>">
                        </div>

                          <div class="card-body cont">
                              <a class="card-title cardtitle stretched-link" style="text-decoration : none" href="/blogs/<%=posts[i].slug%>">
                                  <h3><%=posts[i].title.substring(0,60)%></h3>
                              </a>
                              <p class="card-text cardtext"><%-posts[i].description.substring(0,95)%></p>
                            </div>
                            <div class="daefooter">
                              <ul id="daelist" class="foot">
                                <li><p id="dae"><%=posts[i].creationDate%></p></li>
                                <li><p>3 MIN READ</p></li>
                              </ul>
                            </div>
                        </article>
                      </div>
                          <%};%>
                                              </div>
                  </div>


    </section>

<section class="section-margin">
  <div class="contain">
    <div class="row">
      <div class="col-md-12">
        <div class="search-wrapper">
          <h2 style="color:#32325d;">Subscribe To Our Newsletter</h2>
          <form class="form">
              <input class="email" id="email" type="email" name="email" class="form-control" placeholder="Enter Your Email address ">
              <button class="newslettersubmit" id="create-newsletter-button" type="submit">Submit</button>
          </form>
          <p id="newssuccess"></p>
          <p>Be a part of our ever growing community.<a href=""> Follow us on Instagram</a> </p>
        </div>

      </div>
    </div>
  </div>
</section>
<!--================Blog section End =================-->





<!--================Search Package section Start =================-->

<script src="/default/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="/default/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/default/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/default/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="/default/js/jquery.ajaxchimp.min.js"></script>
<script src="/default/js/mail-script.js"></script>
<script src="/default/js/skrollr.min.js"></script>
<script src="/default/js/main.js"></script>
<script>

  $("#create-newsletter-button").on('click', function (e) {
      e.preventDefault();
      // console.log("this is check point 1 ");

      var data = $("#email").val();
      // alert(data); //just to debug

    $.ajax({
          url: '/admin/newsletter/create',
         type: 'POST',
          data: {mail: data},
          success: function (response) {
            document.getElementById("newssuccess").innerHTML="Successful Registration";
              console.log(response);
//category list is the class of tbody in admin/category/index

          }
      });
        $("#email").val('');
    });
</script>

<!--================Search Package section End =================-->



<%- include ('../partials/default/footer')%>
</body>
